@font-face {
    font-display: swap;
    font-family: 'Bulgatti';
    font-style: normal;
    font-weight: normal;
    src: local('Bulgatti'), url('../containers/Bulgatti.woff') format('woff');
}

h1 {
    font-family: 'Bulgatti';
    font-weight: 200;
    color: #0ccac4;
}